@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Merriweather+Sans:wght@300&display=swap');

:root {
  --header-font: 'Catamaran', serif;
  --body-font: 'Merriweather Sans', sans-serif;
  --code-font: 'Fira Code', monospace;
  
  --main-color: hsl(0, 0%, 99%);
  --accent-color: hsl(0, 0%, 11%);
}

.dark {
  --main-color: hsl(0, 0%, 11%);
  --accent-color: hsl(0, 0%, 99%);
}
.light {
  --main-color: hsl(0, 0%, 99%);
  --accent-color: hsl(0, 0%, 11%);
}

body {
  background-color: var(--main-color);
  color: var(--accent-color);
}

body, h1, h2, h3, h4, h5, h6, section, p, pre, code, samp, kbd, var, input, select, textarea, button, a, span, label {
  line-height: 1.47;
}

html {
  font-size: 62.5%;
}

body{
  font-size: 1.5em;
  font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--header-font);
  font-weight: 600;
  letter-spacing: -1px;
}

section, p, input, select, textarea, button, a, span, label {
  font-family: var(--body-font);
  font-weight: 300;
}
a {
  text-decoration: none;
}
pre, code, samp, kbd, var {
  font-family: var(--code-font);
}
pre {
  overflow-x: scroll;
}
header {
  background-image: linear-gradient(45deg, var(--accent-color), transparent), url(./img/triangle-background.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: var(--main-color);
  box-sizing:border-box;
  display: flex;
  justify-content: space-between;
}
button#theme-switch {
  background-color: var(--main-color);
  color: var(--accent-color);
}
p.logo {
  font-size: 3rem;
  font-family: var(--header-font);
  letter-spacing: -1px;
  font-weight: 600;
  margin-block: 0;
}
main {
  width: 90%;
  margin: auto;
}
.card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: auto;
  gap: 3rem;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 25ms;
  top: 0;
  left: 0;
}
.card > a {
  display: block;
  line-height: 0;
}
.card:hover {
  box-shadow: rgb(0, 0, 0, 16%) 0px 0px .5rem 0px;
  left: .25rem;
  top: .25rem;
  transition: all 25ms;
}
.card-image {
  max-width: 100%;
  height: auto;
}
.card-title {
  padding: 2rem;
  text-align: center;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(./img/triangle-background.svg);
  background-size: cover;
}
.card-title > a {
  color: white;
  font-weight: 600;
}
.card-title > a:visited {
  color: white;
}
.contact-links{
  width:100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: center;
}
.contact-link{
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 15%;
}
.contact-link + .contact-link {
  margin-left: 2rem;
}

@media screen and (min-width: 400px)  { 
  main {
    width: 370px;
  }
}
@media screen and (min-width: 600px)  {
  main {
    width: 540px;
  }
}
@media screen and (min-width: 1000px) {  
  main {
    width: 800px;
  }
}
